@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Cinzel:wght@500&family=Francois+One&family=Handlee&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Quicksand:wght@300&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Barlow:wght@100&family=Cinzel:wght@500&family=Francois+One&family=Handlee&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Quicksand:wght@300&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Nanum+Myeongjo&display=swap");

.landing {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.landingHeader {
  border: 1px solid black;
}
.home-bg {
  display: block;
  width: 97%;
}
.home-bg img {
  width: 100%;
  height: 100%;
  margin: 20px;
  justify-content: center;
}
.about,
.about-blog-section {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.about-section {
  width: 36%;
  font-size: 33px;
}
.fashiondary,
.about-p {
  padding: 20px 35px;
  font-family: "Dosis", sans-serif;

  font-size: 40px;
  margin: 70px 0;
}
.fashiondary span,
.about-p span {
  font-weight: bolder;
  color: #b9944e;
}
.about-pic,
.blogPic {
  width: 63%;
}
.about-pic img,
.blogPic img {
  padding: 30px 0;
  margin: 70px 0;
  width: 100%;
  height: 1000px;
}

.about-p {
  position: absolute;
  left: 62%;
  width: 54%;
}

hr {
  border-color: rgba(180, 180, 180, 0.274);
}
.concat{
  padding-bottom: 50px;
}
.concat h3 {
  font-size: 25px;
  text-align: center;
}
.concat a {
  font-size: 20px;
  color: dimgrey;
  font-family: "Barlow", sans-serif;
}
.concat h3 {
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  font-size: 50px;
}

.concat a {
  font-family: "Barlow", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  text-decoration: none;
}
.concat-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.concat-input {
  width: 390px;
  height: 40px;
  margin-right: 3px;
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 20px;
}

.concat-submit {
  width: 160px;
  background-color: black;
  font-size: 20px;
  font-family: "Barlow", sans-serif;
  color: white;
  height: 40px;
}



@media only screen and (max-width: 700px) {
.about , .about-blog-section {
  display: flex;
  flex-direction: column;
}
.about-section , .about-blog {
  width: 90%;
  
}
.about-p , .fashiondary {
font-size: 20px;
}
.about-pic , .blogPic {
  width: 100%;

}
.about-pic img , .blogPic img {
  height: 350px;
}
.concat h3{ 
 font-size: 20px;
}
.concat-input {
  width: 150px;
  height: 20px;
 
  font-size: 10px;
}

.concat-submit {
  width: 60px;
  font-size: 10px;
  height: 20px;
}


}