.profile {
    border: 1px solid black;
    width: 55%;
    margin: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

   
}

.profile img {
    width: 250px;
    height: 250px;
}
.profile img {
    border-radius: 180px;
}