@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Barlow:wght@100&family=Cinzel:wght@500&family=EB+Garamond&family=Francois+One&family=Handlee&family=Libre+Baskerville:wght@700&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Quicksand:wght@300&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blog-container {
  width: 100%;
}

.blog-header {
  width: 100%;
}
.header-img {
  position: relative;
}
.blog-header img {
  width: 100%;
}
.heaer-blog {
  position: absolute;
  line-height: 1.2;
  display: block;
  width: 100%;
  top: 40%;
}

.heaer-blog h2 {
  position: relative;
  text-align: center;
  color: #ffff;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-size: 70px;
}
.addPost {
  width: 250px;
  height: 60px;
  margin-top: 50px;
  margin-left: 50px;
  background: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.addPost a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.addPost:hover{
background: #000;
border: none;
color: #ffff;
 
}
.addPost a:hover{
 color: #ffff;
}
.post {
  width: 60%;
  margin: 60px 40px;
}
.post li {
  display: flex;
  flex-direction: row;
}
.post img {
  width: 550px;
  height: 400px;
}
.post h3 {
  color: black;
  font-family: "EB Garamond", serif;
  font-size: 40px;
  margin: 10px 50px;
}
.post a {
  text-decoration: none;
}
.post h3:hover {
  color: #b9944e;
  cursor: pointer;
}
.post hr {
  width: 1000px;
  margin: 70px 30px;
}
