@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Barlow:wght@100&family=Cinzel:wght@500&family=EB+Garamond&family=Francois+One&family=Handlee&family=Libre+Baskerville:wght@700&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Quicksand:wght@300&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Barlow:wght@100&family=Cinzel:wght@500&family=EB+Garamond&family=Francois+One&family=Handlee&family=Libre+Baskerville:wght@700&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Quicksand:wght@300&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3&family=Zilla+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Barlow:wght@100&family=Cinzel:wght@500&family=Dosis:wght@200&family=EB+Garamond&family=Francois+One&family=Handlee&family=Libre+Baskerville:wght@700&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Quicksand:wght@300&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3&family=Zilla+Slab:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat:wght@100&family=Nanum+Myeongjo&family=Roboto:wght@100;300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.post-container {
  width: 60%;
  margin: 90px auto;
}
.post-container h2 {
  font-size: 40px;
  font-family: "EB Garamond", serif;
  color: #b9944e;
  margin-bottom: 200px;
}
.post-container img {
  min-width: 55vw;
  height: 95vh;
}
.post-container p {
  width: 80%;
  margin: 30px 0;
  font-size: 30px;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  color: rgb(41, 41, 41);
}
.comment-area {
  border: 1px solid rgb(148, 148, 148);
  width: 700px;
  font-family: "Dosis", sans-serif;
  font-size: 20px;
}
.byCreator {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  margin-bottom: 30px;
}
.byCreator a {
  color: #b9944e;
  margin-left: 15px;
}
.designerBtns{
  margin: 0 80px;
}
.delPost {
  width: 250px;
  height: 60px;
  margin-top: 50px;
  margin-left: 50px;
  background: none;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.delPost:hover {
  background: #000;
  border: none;
  color: #ffff;
}
.editBtn {
  width: 200px;
  height: 60px;
  margin-top: 50px;
  margin-left: 50px;
  background: none;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.editBtn a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.editBtn:hover {
  background: #000;
  border: none;
  color: #ffff;
}
.editBtn a:hover {
  color: #ffff;
}
.comment-section{
  margin: 0 50px;
  position: relative;
}
.comment-section textarea {
  margin-top: 90px;
  border-radius: 20px;
  color: rgb(138, 138, 138);
  padding: 20px 30px;
  font-size: 22px;
}
#add {
  width: 80px;
  height: 40px;
position: absolute;
  margin-left: 50px;
 bottom: 40px;
  background: #000;
  color: #fff;
  font-size: 19px;
  font-family: "Raleway", sans-serif;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
#add:hover {
  background: none;
  border: 1px solid #000;
  color: #000;
}

.comment {
  display: flex;
  flex-direction: row;
  background-color: #eaeaec;
  width: 700px;
  border-radius: 10px;
  padding: 20px;
}
.comment img{
width: 60px;
height: 60px;
border-radius: 100px;
}
.comment h4{
  padding-left: 70px;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  color: #5c5c5e;

}
.comment p{
  font-size: 23px;
}
.comSec{
  margin: 40px 50px;

}
.comSec ul{
   list-style-type: none;
   margin-bottom: 30px;
}

.deleteCom {
  font-size: 30px;
    color: #8d713d;

}
