@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.designer-header img {
  width: 100%;
  position: relative;
}
.designer-header h1 {
  position: absolute;
  line-height: 1.2;
  display: block;
 width: 100%;
  top: 80%;
  /* left: 1.5%; */
  text-align: center;
font-size: 150px;
font-family: 'Oswald', sans-serif;
color: #fff;
}
.about-designer {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;

}
.about-p {
width: 38%;
/* height: 700px; */

}
.about-p p{
width: 90%;
font-size: 30px;

}
.about-img {
    width: 55%;
}
.about-img img{
    margin: 0;
    width: 100%;
}
.concat-designer {
    width: 100%;
    position: relative;
}
.concat-designer img {
    width: 100%;
  
}
.concatBtns {
 position: absolute;
  line-height: 1.2;
  display: block;
min-width: 30%;
  top: 20%;
  left: 19%;
}
.concatBtns ul {
    list-style-type: none;
}
.concatBtns li {
    width: 35%;
}
.concatBtns button {
    width: 900px;
    height: 134px;
    margin: 40px 0;
    border: 10px solid black;
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
}
.designer-overview {
    width: 100%;
}
.designerImgs {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;

}
.designerImgs img{
  width: 100%;
  height: 100vh;
}
.imgDiv {
text-align: center;
object-fit: contain;
width: 100%;
}