@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Barlow:wght@100&family=Cinzel:wght@500&family=Francois+One&family=Handlee&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Quicksand:wght@300&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Barlow:wght@100&family=Cinzel:wght@500&family=Francois+One&family=Handlee&family=Libre+Baskerville:wght@700&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Quicksand:wght@300&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mainCom {
width: 100%;
/* min-height: 100%; */
/* display: flex; */
/* justify-content: center;
align-items: center; */
}
.goBack {
  font-size: 50px;
  color:rgba(12, 12, 12, 0.658);
}

.flipper {
  /* width: 55%; */
  position: relative;
  transition: 0.6s;
  transform-style: preserve-3d;
  perspective: 1000px;
  margin: 10vh 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}
.flip {
  transform: rotateY(180deg);
}

.inputs {
  text-align: center;
  width: 60%;
  height: 40px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  border-bottom: 1px solid gray;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 20px;
}
.title {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-weight: bolder;
  font-size: 60px;
  margin-bottom: 3px;
}
.googleBtn {
  width: 220px;
  height: 50px;
  margin-top: 50px;
  margin-left: 20px;
  background: none;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

#or {
    margin-top: 30px;
    text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 25px;
}
.flipbutton {
  margin-top: 20px;
  color: rgba(27, 26, 26, 0.658);
  text-decoration: underline;
  text-align: center !important;
}
.flipbutton:hover {
  cursor: pointer;
}
.signup-submit {
  width: 30%;
  height: 45px;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
  font-weight: 900;
  background-color: black;
  color: white;
  border: none;
  border-radius: 40px;
}
.flip-container{
  /* background-color: royalblue; */
}
.logBtn {
text-align: center;
}
#forgotID{
    margin-top: 10px;
    cursor: pointer;
}


@media only screen and (min-width: 600px) {
  /* For tablets: */
  .registerCom{width: 50%;}
  .flip-container{width: 100%;}
 
 
}